/*body{
	width: 70vw;
	margin: 0px auto;
	background-color: red;
}

header{
	margin-top: 10px;
	border-bottom: 1px solid black;
}

main .bg-img{
	background-color: rgba(17, 17, 17, 1.0);
	text-align: center;
}
main img{
	max-width: 10px;
	padding: 10px 0px 10px 0px;
}*/

			/* FOOTER */

/*footer{

}
footer .bg-footer{
	background-color: rgba(17, 17, 17, 1.0);
	text-align: center;
	margin-top: 60px;
}
footer .bg-footer a{
	text-decoration: none;
}

footer .bg-footer .linkedin{
	max-width: 4px;
	padding: 15px 20px 15px 0px;
}
footer .bg-footer .insta{
	max-width: 4px;
	padding: 18px 0px 15px 20px;
}*/


